.up_menu {
    height: 70px;
    background-color: #00aeff;
    width: inherit;
}

.login {
    float: left;
    width: 72px;
    height: 35px;
    margin-left: 970px;
    margin-top: 12px;
    background-color: blue;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-top: 4px;
}

.sign_in {
    float: left;
    width: 198px;
    height: 35px;
    margin-left: 18px;
    margin-top: 12px;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-top: 4px;
}