{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
{% endblock %}

{% block content %}
<div class="background-center">
    <p class="register_head_text">Регистрация</p>
    <form action="" method="post" novalidate enctype="multipart/form-data" class="form_register">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(class='username') }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}
            {{ form.name(class='name') }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(class='password') }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repeat_password.label }}
            {{ form.repeat_password(class='password') }}
            {% for error in form.repeat_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='submit_register_form') }}</p>
    </form>
</div>
{% endblock %}